body{
  background-image: linear-gradient(to bottom left, #0F0F37, #26495e) !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: white !important;
}

.headshotBackground{
  width: 320px;
  height: auto;
  border-radius: 200px;
  position: relative;
  box-shadow: 0 0 10px 0 #00BFFF;
}

.bgImg{
  background-image: url('./Assets/output-onlinepngtools.png');
}

@media screen and (max-width: 768px) {
  .cardBg{
    font-size: 10px;
    padding: 10px !important;
  }
  .linkBtn {
    font-size: 15px;
  }
}

.descBox{
  background-color: #040427;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #00BFFF;
}

.descText{
  font-size: larger;
}

.projHeading {
  font-size: 64px;
}

.projHeading span {
  display: inline-block;
  letter-spacing: 5px;
  animation: showText 3.0s ease-in-out forwards;
}

.projHeading span:nth-child(1) {
  animation-delay: 0.1s; 
}
.projHeading span:nth-child(2) {
  animation-delay: 0.2s; 
}
.projHeading span:nth-child(3) {
  animation-delay: 0.3s; 
}
.projHeading span:nth-child(4) {
  animation-delay: 0.4s; 
}
.projHeading span:nth-child(5) {
  animation-delay: 0.5s; 
}
.projHeading span:nth-child(6) {
  animation-delay: 0.6s; 
}
.projHeading span:nth-child(7) {
  animation-delay: 0.7s; 
}
.projHeading span:nth-child(8) {
  animation-delay: .8s;
}

@keyframes showText {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.iconImg{
  border: none;
  width: 300px;
  background-color: white;
  }

.ProjectSpacer{
  margin-top: 200px;
}

.ProjectSpacer2{
  margin-top: 200px;
}

.cardBg{
  background-color: #08082b !important;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px #00BFFF;
  display: flex;
  align-items: center;
  height: 500px ;
}

.projImg1{
  width: 305px !important;
  height: auto;
}

.projImg2, .projImg3{
  width: 165px !important;
  height: 153px;
}

.buttonShow{
  border: none !important;
  background-color: transparent;
  text-align: left;
  border-radius: 30px;
  color: white !important;
  }

  .cardHeader{
    font-size: x-large !important;
  }

.animate{
  animation-name: slide-down;
  animation-duration: .6s;
  animation-timing-function: ease;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.footerBg{
  background-color: #3c3c3c;
  color: rgb(255, 255, 255);
}

.linkBtn{
  background-color: transparent;
  border: none;
  color: white;
}



